.key {
  width: 14.14vmin;
  height: 14.14vmin;
  border: 1px solid white;
  border-radius: 0;
  font-size: 2.83vmin;
  background-color: #bdc8d0;
  cursor: pointer;
  box-sizing: border-box;
}

.key.wide {
  width: 28.28vmin;
}

.key.blue {
  background-color: #299bff;
  color: white;
}

.key.orange {
  background-color: orange;
  width: 11.3vmin;
  height: 11.3vmin;
}

.key.orange:hover {
  background-color: #ff8a00;
}

.key:hover {
  background-color: #92a4b1;
}

.key.blue:hover {
  background-color: #1b8bec;
}

.screen {
  height: 14.14vmin;
  width: 56.44vmin;
  background-color: #3b3e41;
  color: white;
  padding: 8px;
  font-size: 3.4vmin;
  box-sizing: border-box;
}
